<form action="/auth/signup" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="sign-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-input" name="email" id="email" placeholder="Email" required >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-input" name="password" id="password" placeholder="Password" >
        </div>
        <div class="form-group">
            <label for="cfmpassword">Confirm Password:</label>
            <input type="password" class="form-input" name="cfmpassword" id="cfmpassword" placeholder="Confirm Password" >
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-input" name="username" id="username" placeholder="Username" required >
        </div>
        <div class="form-group">
            <label for="instagram">Instagram Account:</label>
            <input type="text" class="form-input" name="instagram" id="instagram" placeholder="Instagram Account" >
        </div>
        <div class="form-group">
            <label for="twitter">Twitter Account:</label>
            <input type="text" class="form-input" name="twitter" id="twitter" placeholder="Twitter Account" >
        </div>
        <div class="form-group">
            <label for="other_proof">Other Proof:</label>
            <input type="file" class="form-input" name="other_proof" id="other_proof" />
        </div>
        <div class="form-group">
            <label for="avatar">Avatar:</label>
            <input type="file" class="form-input" name="avatar" id="avatar" />
        </div>
        <div class="form-button">
            <button class="btn btn-secondary" type="reset">Reset</button>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </div>
</form>