<div class="sign-form">
    <form action="/auth/confirmation" method="post" autocomplete="off">
        {{>_formerrmsg}}
        {{#if token}}
        <input type="text" class="form-input" name="token" id="token" value="{{token}}" hidden required />
        {{/if}}
        <div class="form-group">
            <label for="otp">OTP:</label>
            <input type="text" class="form-input" name="otp" id="otp" required >
        </div>
        <div class="form-button">
            <button class="btn btn-primary" type="submit">Verify</button>
        </div>
    </form>
</div>