<form action="/auth/confirmation" method="post" autocomplete="off">
    <div class="sign-form">
        <input type="text" class="form-input" name="username" id="username" placeholder="Username" value="{{#if username}}{{username}}{{/if}}" hidden required >
        <div class="form-group">
            <label for="otp">OTP:</label>
            <input type="text" class="form-input" name="otp" id="otp" placeholder="otp" required >
        </div>
        <div class="form-button">
            <button class="btn btn-primary" type="submit">Verify</button>
        </div>
    </div>
</form>