$redundant-color: #c0c0c0;
$redundant-color-darker: #7a7a7a;
$secondary-color: #252323;
$primary-color: #ffffff;

@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

@mixin flex-wrap($x) {
    -ms-flex-wrap: $x;
    flex-wrap: $x;
}   

@mixin flex-justify($x) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: $x;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
    color: $secondary-color;
}

input[type=text]:focus-visible,
input[type=email]:focus-visible {
    outline: 0;
}

.sign-form {
    margin: 2rem 10rem 2rem 10rem;
}

.form-group {
    @include flex;
    @include flex-wrap(wrap);
    @include flex-justify(center);
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    label {
        font-size: 1em;
        margin-bottom: 0.5rem;
    }

    input.form-input {
        padding: 0.5rem 2rem 0.5rem 2rem;
        border: 1px solid $redundant-color;
        border-radius: 1rem * 99;
        width: 100%;
        font-size: 1em;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}

.form-button {
    @include flex;
    @include flex-wrap(nowrap);
    @include flex-justify(flex-end);
    flex-direction: row;
    align-items: center;

    .btn {
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 1rem * 99;
        font-size: 1.3em;
        cursor: pointer;

        &.btn-primary{
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            color: $primary-color;
            transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out,border 0.3s ease-in-out;
            margin-left: 1rem;

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                border: 1px solid $redundant-color;
            }
        }

        &.btn-secondary{
            background-color: $redundant-color-darker;
            border: 1px solid $redundant-color-darker;
            color: $primary-color;
            transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out,border 0.3s ease-in-out;

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                border: 1px solid $redundant-color;
            }
        }
    }
}