<footer class="footer">
    <nav class="bottom-nav">
        <a href="/#active" class="bottom-nav-item" data-link-type="#active">
            <span class="material-icons">home</span>
            <p class="bottom-nav-label">Home</p>
        </a>
        <a href="/#explore" class="bottom-nav-item" data-link-type="#explore">
            <span class="material-icons">explore</span>
            <p class="bottom-nav-label">Explore</p>
        </a>
        <a href="/#profile" class="bottom-nav-item" data-link-type="#profile">
            <span class="material-icons">account_circle</span>
            <p class="bottom-nav-label">Profile</p>
        </a>
        {{!-- <a href="" class="bottom-nav-item">
            <span class="material-icons">menu</span>
            <p class="bottom-nav-label">More</p>
        </a> --}}
    </nav>
    <div class="content">
        <p>Copyright &copy; 2016 - 2021 <b>ArTion.</b> All rights reserved. </p>
    </div>
</footer>