{{#if form_err_msg}}
<div id="formerrmsg" class="err-container">
    <div class="err-grid {{form_err_msg_color}}">
        <span class="err-msg">{{form_err_msg}}</span>
        <span class="material-icons err-close" data-target="#formerrmsg">close</span>
    </div>
</div>
{{/if}}