<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" dir="ltr"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="copyright" content="Copyright owner"/>
        <meta name="robots" content="noindex,nofollow"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.typekit.net/vdp0olb.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="/css/main.css" type="text/css" rel="stylesheet">

    	<link rel="stylesheet" href="/css/nav.css" />


        <title>{{title}}</title>
    </head>
    <body>
        {{>_navbar}}
        <main role="main" class="main" id="main">
            {{{body}}}
        </main>
        {{>_bottom_nav}}

        <script src="/js/jquery-3.6.0.js"></script>
        <script src="/js/main.js"></script>
        {{!-- <script src="/js/font-awesome.js"></script>
        <script defer src="/js/script-main.js"></script>
        <script defer src="/js/navbar.js"></script> --}}
    </body>

</html>