<div class="container">
    <div class="topPart">
        <div class="pageName">
            Create an NFT
        </div>
    </div>
    <div class="bottomPart">
        <div class="emptyContainer">
            <a href="#noCollab">
                <div class="noCollabBtn">
                    <span class="material-icons">person</span>
                    <label>No Collaborators</label>
                </div>
            </a>
            <a href="#collab">
                <div class="collabBtn">
                    <span class="material-icons">group_add</span>
                    <label>Add Collaborator(s)</label>
                </div>
            </a>
        </div>
    </div>
</div>