<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-4 mb-2">
                <table border="1" style="height: 100%;">
                    <tr style="height: 100%;">
                        <td class="itemtable" style="text-align: center; width: 40%;">
                            <image src="{{picURL}}" alt="nftPreview" class='iconpic'/>
                        </td>
                        <td class="itemtable">
                            <h3 class="heading">Senior Product Designer-Singapore</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
        