<div class="error_padding">
    <div class="glitch">
        <h1 class="content" data-text="{{status}}">{{status}}</h1>
    </div>
    <div class="description">
        <p class="description-enlarge">{{subject}}</p>
        <p>{{message}}</p>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>