<div class="container">
    <div class="topPart">
        <div>
            <a href="#back" class="backBtn">
                Back
            </a>
        </div>
        <div class="pageName">
            Create an NFT
        </div>
    </div>
    <div class="bottomPart">
        <div class="container">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <div class="uploadBtn" id="uploadBtn">
                        <span id="uploadSpan" class="material-icons">upload</span>
                        <label id="uploadLabel">Upload</label>
                    </div>
                </div>
                <input type="file" name="mediaFile" id="mediaFile" />
                <div class="form-group">
                    <label for="nftTitle">Title</label>
                    <input type="text" class="form-control" id="nftTitle" name="nftTitle" placeholder="Please input NFT Title" value=""/>
                </div>
                <div class="form-group">
                    <label for="nftDescription">Description</label>
                    <textarea rows="4" cols="50" type="text" class="form-control" id="nftDescription" name="nftDescription" placeholder="Please input NFT description here." value=""></textarea>
                </div>
                <div class="form-group">
                    <button class="createBtn" type="submit" formaction="/createNFT" formmethod="post">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>